*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*---------   Body  ---------*/
body{
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
/*---------container--------*-*/
.container{
    display: flex;
    /* border: 1px solid black; */
    width: 80%;
    height: 800px;
    box-shadow: 2px 2px 100px rgba(0, 255, 255, 0.482);
    
}
/*---------    container-left  ----*/
.container-left{
    /* border: 1px solid red; */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
   justify-content: space-around;
}
/*---------  les blocs  ----*/

/*---------  premier bloc  ---*/
.first-bloc{
    width: 100%;
    height: 30%;
    /* border: 1px solid black; */
    display: flex;
    
}
/*---------  images et btn  ----*/
.first-bloc .image-prix{
    width: 60%;
    height: 90%;
    
}
.image-prix img{
    width: 100%;
    height: 100%;
    

}
.image-prix p {
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
}
.btn{
display: flex;
    width: 40%;
    height: 100%;
    align-items: center;
    
    flex-direction: column;
    justify-content: space-around;
   
}
.btn button{
    font-size: 15px;
    width: 15%;
    color: white;
    background-color: orangered;
    border: none;
    height: 10%;
    
}

.btn .achat{
    height: 20%;
   width: 40%;
    color: white;
    background-color: orangered;
    
}
.btn .achat:hover{
   background-color: black;
   cursor: pointer;
    
}



/*---------  container-right ---------*/
.container-right{
    /* border: 1px solid blue; */
    width: 50%;
    height: 100%;
}
.top{
    width: 100%;
    height: 20%;
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.bottom{
    width: 100%;
    height: 80%;
    border: 1px solid black;
}
.bottom img{
    width: 100%;
    height: 100%;
    animation-delay: 1s, 2s;
}
.first-top{
    width: 20%;
    height: 50%;
    border: 1px solid red;
}
.first-top img{
    width: 100%;
    height: 80%;
    transform: scale 1s;

}
/* boutton  */

.second-top button{
    background-color: orangered;
    padding: 4px;
    color: white;

}
.third-top{
    border: 1px solid black ;
    width: 50%;
    height: 70%;
    justify-content: space-around;
}
.btn :hover {
background-color: black;
cursor: pointer;
}